/*RESPONSIVE*/

.form__container{
    display: grid;
    grid-template-columns: repeat(auto-fit)
    minmax(150px, 1fr);
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 0.5em;
    margin: auto;
    margin-top: 2em;
    
}

.form__title{
   text-align: center;
   font-size: 1.5em;
   color: rgb(36, 207, 36);
   margin: 20px;
   font-weight: bold;
}

.form__login{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   font-size: 1em;
   padding: 10px;

   

}

.form__label{
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    padding-left: 0.5em;
}

.form__input{
    text-align: left;
    width: 100%;
   padding: 0.5em 0;
   border-radius: 0.5em;
   color: var(--color-green);
   font-weight: 700;
  
}

.form__checkbox{
    width: 100%;
    margin: 20px 0;
    color: rgb(36, 207, 36);
    font-weight: 600;
    
}
.box{
    display: inline-flex;
    cursor: pointer;
    margin-left: 1em;

}

.button__login{
   
    margin: auto;
    justify-content: center;
    width: 90%;
    background-color: var(--color-green);
    border: none;
    color: white;
    font-size: 18px;
    font-family: inherit;
    padding: 8px 20px;
    border-radius: 0.5em;
    
    
}

.button__login:hover {
    transition:all .5s ease-in-out;
    color: white;
    background-color: rgb(78, 78, 78);
}

.form__signup {
   padding-top: 0.5em;
   text-align: center;
}
